*{
    background-color: black;
    color: #40ff2f;
    text-shadow: 0 0 5px 40ff2f;
    /*background-image: url("dabkytc-983dbdfb-32dc-42d2-8803-111ace55f151.png");*/
}


h {
    font-weight: bold;
    font-family: arial;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
  }

input[type=number]{
    border: none;
    color: #40ff2f;
    text-align: right;
}

.number-wrapper {
    position: relative;
}
  
.number-wrapper:after,
.number-wrapper:before {
    position: absolute;
    right: 5px;
    width: 1.6em;
    height: .9em;
    font-size: 10px;
    pointer-events: none;
    background: none;
}

.number-wrapper:after {
    color: #40ff2f;
    content: "\25B2";
    margin-top: 1px;
}

.number-wrapper:before {
    color: #40ff2f;
    content: "\25BC";
    margin-bottom: 5px;
    bottom: -.5em;
}
